.chartjs-render-monitor {
    min-width: 100%;    
    max-width: 100%;    
}

thead {
    text-align: center;
    background-color: #f2f2f2;
}
tbody {
    text-align: right;
}
td {
  padding: 4px;
}
table, tbody, thead, th, tr, td {
  border-collapse: collapse;
  border: 1px solid #e0e0e0;
}
tr > td:nth-child(1) {
  font-weight: 600;
}