<div style="display: flex; flex: 1; justify-content: space-between; width: 100%">
<div *ngIf="showData" style="flex-grow: 1; width:40%; max-height: 300px; overflow-y: scroll">
  <table>
      <thead>
        <tr>
          <th colspan="4">Data</th>
        </tr>
        <tr>
          <th>V</th>
          <th>C<sub>p</sub></th>
          <th>P<sub>el</sub></th>
          <th>h</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of dataSource">
          <td>{{d.V}}</td>
          <td>{{d.Cp | number:'1.2-2'}}</td>
          <td>{{d.Pel}}</td>
          <td>{{d.h | number:'1.2-2' }}</td>
        </tr>
      </tbody>
  </table>
</div>
<div style="flex-grow: 2; width: 60%; margin-left: 10px; ">
    <span *ngIf="wec" style="text-align: center;display: block; padding-top: 10px; color: rgba(0,0,0,.50); font-weight: 600">{{ wec.manufacturer}} {{ wec.model}}</span>
    <canvas baseChart height="1000" width="1000" 
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
</div>
</div>
