<form *ngIf="layout | async">
    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start space-between" [formGroup]="costDataGroup">
      <mat-form-field>
        <input matInput placeholder="Start of Operation" type="number" step="1" formControlName="startOperation">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Operative Lifetime [years]" type="number" step="1" formControlName="period">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Currency" formControlName="currency">
          <mat-option *ngFor="let option of currencySelect" [value]="option.value">
            {{ option.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Discount Rate [%]" type="number" step="1" formControlName="discountRate">
      </mat-form-field>
      <div style="flex-grow: 1"></div>
      <div style="padding: 10px">
        <mat-slide-toggle [checked]="costsPerWec" (change)="onChangeShowCostToggle($event)">Costs per WEC</mat-slide-toggle>
      </div>
    </div>

    <!--costs-->
    <div *ngFor="let cost of costItems; let i=index">
        <div fxLayout="row">
          <div fxFlex="40%">
            <mat-form-field>
                <mat-select placeholder="Cost Type" [(ngModel)]="cost.type" name="type-{{i}}" (change)="updateLayout()">
                  <mat-optgroup *ngFor="let group of costSelect" [label]="group.name">
                    <mat-option *ngFor="let option of group.values" [value]="option.value">
                      {{ option.title }}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Amount [€]" type="number" step="1" [(ngModel)]="cost.amount" name="amount-{{i}}" (keyup)="updateLayout()">
            </mat-form-field>
          </div>
          <nouislider #periodSlider fxFlex="60%" [config]="sliderConfig" [(ngModel)]="cost.periodRange" name="periodRange-{{i}}" (update)="updateLayout()"></nouislider>
          <button mat-icon-button class="mat-warn" tabindex="-1" (click)="removeCostItem(i, $event)">
            <mat-icon>cancel</mat-icon>
          </button>                
        </div>
    </div>
    <div class="margin-20">
        <button mat-raised-button (click)="addCostItem()" class="mat-raised-button mat-primary">
            Add another cost item
        </button>
    </div>
</form>