<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end space-between" style="padding: 10px 10px 0 0">
  <button mat-raised-button class="mat-raised-button mat-primary" (click)="onAssist($event)">
    <mat-icon>lightbulb_outline</mat-icon>
    Auto-layouts
  </button>
  <button mat-raised-button class="mat-raised-button mat-primary" (click)="myFileInputField.click()">
    <mat-icon>open_in_browser</mat-icon>
    Load layouts
    <input type="file" #myFileInputField (change)="onUpload($event)" style="display:none">
  </button>
  <button mat-raised-button class="mat-raised-button mat-primary" (click)="onSave($event)">
    <mat-icon>save</mat-icon>
    Save layouts
  </button>
</div>
<div *ngIf="(items | async).length==0" style="text-align: center; padding: 10px">
  <h2 class="mat-title">There are no layouts configured</h2>
  <h3 class="mat-subheading-2">Create new layout or upload a previous one</h3>
</div>
<div *ngIf="!isLoading && items" class="container">
  <div *ngIf="data.data.length>0" class="mat-elevation-z8">
    <mat-table #table [dataSource]="data" matSort (matSortChange)="sortData($event)">
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="numberOfWecs">
        <mat-header-cell *matHeaderCellDef mat-sort-header> No. WECs </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.numberOfWecs | number }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="deratedPower">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Installed MW </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.deratedPower | number }} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="grossYield">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Gross Yield [MWh]</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.grossYield | number:'1.2-2'}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="netYield">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Net Yield [GWh]</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.netYield/1000 | number:'1.2-2'}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="EFLH">
        <mat-header-cell *matHeaderCellDef mat-sort-header> EFLH [h/year]</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.EFLH | number }} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="NPVMWh">
        <mat-header-cell *matHeaderCellDef mat-sort-header> NPVMWh </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.NPVMWh | number:'1.2-2'}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="capexTotal">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Total CAPEX (NPV) [€]</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.capexTotal | number:'1.2-2'}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="opexTotal">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Total OPEX (NPV) [€]</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.opexTotal | number:'1.2-2'}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="costTotal">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Total Costs (NPV) [€]</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.costTotal | number:'1.2-2'}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="LCOE">
        <mat-header-cell *matHeaderCellDef mat-sort-header> LCOE </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.LCOE | number:'1.2-2'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button style="color: rgba(0,0,0,.38)" tabindex="-1" (click)="onDeleteLayout(element, $event)">
            <mat-icon>cancel</mat-icon>
          </button>                
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="onSelectRow(row)" (mouseenter)="onHoverRow(row)">      
      </mat-row>


    </mat-table>
    <mat-paginator #paginator
              [pageSize]="length"
              [pageSizeOptions]="pageSizeOptions"
              [showFirstLastButtons]="true"></mat-paginator>
  </div>
</div>