<div *ngIf="layout | async as layout">
  <div *ngIf="!layout.wecs.length" style="text-align: center; padding: 20px">
    <h2>No WECs have been added to the layout!</h2>
    <button mat-button class="mat-raised-button mat-primary" [routerLink]="['/browse']">
      <mat-icon>search</mat-icon>
      Select the Wecs
    </button>
  </div>
  <div *ngIf="layout.wecs.length" class="mat-elevation-z8">
    <mat-table #table [dataSource]="data">
      <!-- Position Column -->
      <ng-container matColumnDef="model">
        <mat-header-cell *matHeaderCellDef mat-header> WEC </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.wec.manufacturer}} {{element.wec.model}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="count">
        <mat-header-cell *matHeaderCellDef mat-header> No. </mat-header-cell>
        <mat-cell *matCellDef="let element; let rlast = last"> 
          {{ element.count }} 
          <span *ngIf="!rlast">
            <button mat-icon-button color="accent" class="small" (click)="onAdjustWecCount( layout, element, 1, $event)"><mat-icon>add</mat-icon></button><button mat-icon-button  class="small" (click)="onAdjustWecCount( layout, element, -1, $event)"><mat-icon>remove</mat-icon></button>
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="deratedPower">
        <mat-header-cell *matHeaderCellDef mat-header> Rated Power [kW] </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.wec.deratedPower | number }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="hubHeight">
        <mat-header-cell *matHeaderCellDef mat-header> Hub Height [m] </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.wec.hubHeight | number }}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="velocityHubHeight">
        <mat-header-cell *matHeaderCellDef mat-header> V<sub>hh</sub>&nbsp;[m/s]</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.wec.velocityHubHeight | number:'1.2-2'}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="grossYield">
        <mat-header-cell *matHeaderCellDef mat-header> Gross Yield [MWh]</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.wec.grossYield | number:'1.2-2'}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="netYield">
        <mat-header-cell *matHeaderCellDef mat-header> Net Yield [MWh]</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.wec.netYield | number:'1.2-2'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="EFLH">
        <mat-header-cell *matHeaderCellDef mat-header> EFLH </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.wec.EFLH | number:'1.0-0'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="NCF">
        <mat-header-cell *matHeaderCellDef mat-header> NCF </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.wec.NCF | number:'1.2-2'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef mat-header></mat-header-cell>
        <mat-cell *matCellDef="let element; let rlast = last">
          <button *ngIf="!rlast" mat-icon-button (click)="onEditClicked(layout, element, $event)" style="color: rgba(0, 0, 0, 0.27)">
            <mat-icon>edit</mat-icon>
          </button>          
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let last;"></mat-row>
      
    </mat-table>
    <div style="text-align: center; padding: 20px">
      <button mat-button class="mat-raised-button mat-primary" [routerLink]="['/browse']">
        <mat-icon>search</mat-icon>
        Add more
      </button>
    </div>    
  </div>
</div>
