$icon-small-container-size: 24px;
$icon-small-size: 16px;

.mat-icon-button.small {
  width: $icon-small-container-size;
  height: $icon-small-container-size;
  line-height: $icon-small-container-size;

  .mat-icon, .mat-icon-button i {
    line-height: $icon-small-size;
  }

  .mat-icon {
    width: $icon-small-size;
    height: $icon-small-size;
  }

  .material-icons {
    font-size: $icon-small-size;
  }
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 610px;
}

.mat-cell, .mat-header-cell {
  font-size: 12px;
  text-align: center;
  &.favourite {
    background-color: #ffff00;
  }
}

wind-data-form, wec-list {
    width: calc(100% - 20px);
    height: calc(100% - 80px);
    margin-top: -80px;
}

.mat-tab-button-text {
    vertical-align: super;
    text-transform: uppercase;
}
.mat-list-item {
  line-height: 32px;
  height: 32px !important;
}
.property-line {
  font-size: 12px;
  display: flex; flex: 1; flex-direction: row; overflow: hidden;
  > .property-name {
    flex-basis: 0; flex-grow: 1;
  }
  > .property-value {
    flex-basis: 1; flex-grow: 1; justify-content: space-between; align-items: center;
  }
}
