<h2 mat-dialog-title>Constraints</h2>
<mat-dialog-content *ngIf="settings$ | async">
    <div fxLayout="row" *ngIf="isLoading" style="width: 100%; text-align: center">
      <div style="flex-grow: 1"></div>
      <div>
        <mat-spinner></mat-spinner>
        <h3>Please wait...</h3>
      </div>
      <div style="flex-grow: 1"></div>
    </div>
    <div *ngIf="!isLoading">
      Please enter all constraints (leave the field blank if none):
      <div fxLayout="column" style="padding: 10px">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="32%">
            <input matInput type="number" step="100" placeholder="Wind farm max power [kWh]" [(ngModel)]="constraints.maxPower">
          </mat-form-field>
          <mat-form-field fxFlex="32%">
            <input matInput type="number" step="100" placeholder="Max tip height [m]" [(ngModel)]="constraints.maxTip">
          </mat-form-field>
          <mat-form-field fxFlex="32%">
            <input matInput type="number" step="10" placeholder="Max rotor diameter [m]" [(ngModel)]="constraints.maxRotorDiameter">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="32%">
            <input matInput type="number" step="10" placeholder="Min no. of WECs [-]" [(ngModel)]="constraints.minNumberOfWecs">
          </mat-form-field>
          <mat-form-field fxFlex="32%">
            <input matInput type="number" step="10" placeholder="Max no. of WECs [-]" [(ngModel)]="constraints.maxNumberOfWecs">
          </mat-form-field>
          <mat-form-field fxFlex="32%">
            <input matInput type="number" step="10" placeholder="Max different models [-]" [(ngModel)]="constraints.maxModels">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="32%">
            <input matInput type="number" step="10" placeholder="Max results [-]" [(ngModel)]="constraints.maxResults">
          </mat-form-field>
          <div style="padding: 10px" fxFlex="32%">
            <mat-checkbox color="primary" [(ngModel)]="constraints.customHeights" [disabled]="!constraints.maxTip">Standard WECs heights</mat-checkbox>
          </div>
        </div>
      </div>
      <wind-data-form [config]="formConfig" [params]="constraints.windSettings" (onParamsChanged)="onSettingsChanged($event)"></wind-data-form>    
    </div>

</mat-dialog-content>
<mat-dialog-actions>
  <div *ngIf="!isLoading">
    <button mat-button mat-dialog-close [disabled]="isLoading">Cancel</button>
    <button mat-button class="mat-raised-button mat-primary" (click)="onExecute($event)">Ok</button>
  </div>
</mat-dialog-actions>