<div *ngIf="layout | async">
<div *ngIf="wec | async as _wec" class="container">
    <div *ngIf="(wec | async) as _wec" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="center stretch">
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center stretch">
            <div fxFlex.lt-md="100%" class="mat-elevation-z8">
                <wind-data-form [params]="_wec._params" (onParamsChanged)="onWecSettingsChanged(_wec, $event)"></wind-data-form>
            </div>
            <div fxFlex="100%" fxFlex.lt-md="100%" class="mat-elevation-z8">
                <wec-power-curve-chart #chart [showData]="true" width="300" height="300"></wec-power-curve-chart>
            </div>
        </div>
        <div fxFlex="67%" fxFlex.lt-md="100%" class="mat-elevation-z8">
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="start space-between">
                <wec-properties [wec]="_wec"></wec-properties>
            </div>
        </div>
    </div>
</div>
</div>