<div *ngIf="layout | async as _layout">
<div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="center stretch">
        <div fxFlex="80%" fxFlex.lt-md="100%" class="mat-elevation-z8">
            <mat-tab-group>
              <mat-tab label="Layout">
                <ng-template mat-tab-label>
                  <mat-icon>lightbulb_outline</mat-icon><span class="mat-button mat-tab-button-text">Layout</span>
                </ng-template>            
                <wf-layout-wec-list [layout]="layout"></wf-layout-wec-list>
              </mat-tab>
              <mat-tab label="Costs">
                <ng-template mat-tab-label>
                  <mat-icon>assessment</mat-icon><span class="mat-button mat-tab-button-text">Costs</span>
                </ng-template>
                <div style="padding: 10px">
                    <wf-layout-cost [layout]="layout" (onChange)="onLayoutCostsChange($event)"></wf-layout-cost>
                </div>
              </mat-tab>
            </mat-tab-group>  
        </div>
        <div fxFlex="20%" fxFlex.lt-md="100%">
            <div class="mat-elevation-z8" style="padding: 10px">
                <h2 class="mat-h2">Overview</h2>
                <table width="100%">
                    <tr>
                        <td>Start of Operation</td>
                        <td>{{ _layout.startOperation }}</td>
                    </tr>
                    <tr>
                        <td>Operative Lifetime</td>
                        <td>{{ _layout.period }} years</td>
                    </tr>
                    <tr>
                        <td>Currency</td>
                        <td>{{ _layout.currencyLabel }}</td>
                    </tr>
                    <tr>
                        <td>Discount Rate</td>
                        <td>{{ _layout.discountRate }}%</td>
                    </tr>
                    <tr><td colspan="2"><mat-divider></mat-divider></td></tr>
                    <tr>
                        <td>OEM CAPEX</td>
                        <td>{{ _layout.capexTotal - _layout.capexOther | number:'1.2-2'}}</td>
                    </tr>
                    <tr>
                        <td>Other CAPEX</td>
                        <td>{{ _layout.capexOther | number:'1.2-2'}}</td>
                    </tr>
                    <tr>
                        <td>OPEX</td>
                        <td>{{ _layout.opexTotal | number:'1.2-2'}}</td>
                    </tr>
                    <tr>
                        <td><b>Total (NPV)</b></td>
                        <td>{{ _layout.costTotal | number:'1.2-2'}}</td>
                    </tr>
                    <tr><td colspan="2"><mat-divider></mat-divider></td></tr>
                    <tr>
                        <td>Production (NPV)</td>
                        <td>{{ _layout.NPVMWh | number:'1.2-2'}} MWh</td>
                    </tr>
                    <tr>
                        <td>LCOE</td>
                        <td>{{ _layout.LCOE }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
