$icon-small-container-size: 24px;
$icon-small-size: 16px;

.mat-icon-button.small {
  width: $icon-small-container-size;
  height: $icon-small-container-size;
  line-height: $icon-small-container-size;

  .mat-icon, .mat-icon-button i {
    line-height: $icon-small-size;
  }

  .mat-icon {
    width: $icon-small-size;
    height: $icon-small-size;
  }

  .material-icons {
    font-size: $icon-small-size;
  }
}
.filter-panel {
  display: flex;
  flex-direction: column;
  padding: 8px 30px 0;
  background-color: #f0f0f0;
}


.mat-table {
  overflow: auto;
  max-height: 610px;
}

.mat-cell, .mat-header-cell {
  font-size: 12px;
}

mat-row.mat-row {
  cursor: pointer;
  &:hover {
    background-color: rgba(0,0,0,.10);
  }
}

mat-row.mat-row > mat-cell,
mat-header-cell.mat-header-cell {
  text-align: center;
}
mat-row.mat-row > mat-cell:nth-child(2),
mat-header-cell.mat-header-cell:nth-child(2) {
  max-width: 100px;
}

mat-row.mat-row > mat-cell:nth-child(1),
mat-header-cell.mat-header-cell:nth-child(1) {
  min-width: 20%;
  text-align: left;
}

mat-row.mat-row > mat-cell:last-child,
mat-header-cell.mat-header-cell:last-child {
  max-width: 50px;
}
