<div *ngIf="(wec | async) as currentWec" class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="center stretch">
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center stretch">
            <div fxFlex.lt-md="100%" class="mat-elevation-z8">
                <wind-data-form [params]="currentWec._params" (onParamsChanged)="onWecSettingsChanged(currentWec, $event)"></wind-data-form>
            </div>
            <div fxFlex="100%" fxFlex.lt-md="100%" class="mat-elevation-z8">
                <wec-power-curve-chart #chart [showData]="true" width="300" height="300"></wec-power-curve-chart>
            </div>
        </div>
        <div fxFlex="67%" fxFlex.lt-md="100%" class="mat-elevation-z8">
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="start space-between">
                <wec-properties [wec]="currentWec"></wec-properties>
                <div fxFlex="100%" style="text-align: center; padding: 20px">
                  <button mat-button class="mat-raised-button mat-primary" [mat-menu-trigger-for]="add">
                    <mat-icon>add_shopping_cart</mat-icon>
                    Add to layout...
                  </button>
                  <mat-menu [overlapTrigger]="false" #add="matMenu">
                      <button *ngFor="let layout of layouts | async" mat-menu-item (click)="onAddToLayout(layout,currentWec)">
                          {{ layout.name }}
                      </button>
                      <button mat-menu-item (click)="onAddToLayout(null,currentWec)">
                          New layout
                      </button>
                  </mat-menu>        
                </div>
            </div>
        </div>
    </div>
</div>
