<div fxLayout="row wrap" fxLayoutAlign="start space-between" style="text-align: left; padding: 20px">
  <div fxFlex="50%" fxFlex.lt-md="100%">
      <mat-list>
         <h3 matSubheader>Wind Turbine Information</h3>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">Manufacturer</span>
              <span class="property-value">{{ wec.manufacturer }}</span>
            </div>
         </mat-list-item>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">Model</span>
              <span class="property-value">{{ wec.model }}</span>
            </div>
         </mat-list-item>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">Wind Class</span>
              <span class="property-value">{{ wec.windClass }}</span>
            </div>
         </mat-list-item>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">Turbulence Class</span>
              <span class="property-value">{{ wec.turbulenceClass }}</span>
            </div>
         </mat-list-item>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">Rated Power</span>
              <span class="property-value">{{ wec.ratedPower | number }}</span>
            </div>
         </mat-list-item>
      </mat-list>
  </div>
  <div fxFlex="50%" fxFlex.lt-md="100%">
      <mat-list>
         <h3 matSubheader>Geometric characteristics</h3>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">Rotor dimensions</span>
              <span class="property-value">{{ wec.rotorDiameter }} m</span>
            </div>
         </mat-list-item>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">Hub Height</span>
              <span class="property-value">{{ wec.hubHeight }} m <span *ngIf="wec.isCustomHeight" class="mat-chip mat-warn">[custom]</span></span>
            </div>
         </mat-list-item>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">Standard Heights</span>
              <span class="property-value"><span *ngFor="let h of wec.availableHubHeights;let last=last">
                {{ h?h:'' }}{{ last||!h?'':', ' }}
              </span>&nbsp;m</span>
            </div>
         </mat-list-item>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">Tip Height</span>
              <span class="property-value">{{ wec.tipHeight }} m</span>
            </div>
         </mat-list-item>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">Swept Area</span>
              <span class="property-value">{{ wec.sweptArea | number:'1.0-0'}} m<sup>2</sup></span>
            </div>
         </mat-list-item>
      </mat-list>
  </div>
  <div fxFlex="50%" fxFlex.lt-md="100%">
      <mat-list>
         <h3 matSubheader>Wind data</h3>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">V<sub>mast</sub></span>
              <span class="property-value">{{ wec._params.vmast_hh | number:'1.2-2'}} m/s</span>
            </div>
         </mat-list-item>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">k<sub>hh</sub></span>
              <span class="property-value">{{ wec.Khh | number:'1.2-2'}}</span>
            </div>
         </mat-list-item>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">A<sub>hh</sub></span>
              <span class="property-value">{{ wec.Ahh | number:'1.2-2'}} m/s</span>
            </div>
         </mat-list-item>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">V<sub>hh</sub></span>
              <span class="property-value">{{ wec.velocityHubHeight | number:'1.2-2'}} m/s</span>
            </div>
         </mat-list-item>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">Equivalent Full Load Hours (EFLH)</span>
              <span class="property-value">{{ wec.EFLH | number:'1.0-0'}}</span>
            </div>
         </mat-list-item>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">Net Capacity Factor (NCF)</span>
              <span class="property-value">{{ wec.NCF | number:'1.2-2'}}</span>
            </div>
         </mat-list-item>
      </mat-list>
  </div>
  <div fxFlex="50%" fxFlex.lt-md="100%">
      <mat-list>
         <h3 matSubheader>Estimated Yield</h3>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">Gross Yield</span>
              <span class="property-value">{{ wec.grossYield | number:'1.2-2'}} MWh/a</span>
            </div>
         </mat-list-item>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">Net Yield</span>
              <span class="property-value">{{ wec.netYield | number:'1.2-2'}} MWh/a</span>
            </div>
         </mat-list-item>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">Estimated Losses</span>
              <span class="property-value">{{ wec._params.losses }}%</span>
            </div>
         </mat-list-item>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">Technical Availability</span>
              <span class="property-value">{{ wec._params.availability }}%</span>
            </div>
         </mat-list-item>
         <mat-list-item>
            <div class="property-line">
              <span class="property-name">Yield per Unit Area</span>
              <span class="property-value">{{ wec.grossYield / wec.sweptArea | number:'1.3-3'}} MWh/m<sup>2</sup>/a</span>
            </div>
         </mat-list-item>
      </mat-list>
  </div>
</div>