.mat-list-item {
  line-height: unset;
  height: 32px !important;
  align-items: left;
}
.property-line {
  font-size: 12px;
  display: flex; flex: 1; flex-direction: row; overflow: hidden;
  > .property-name {
    flex-basis: 0; flex-grow: 1;
  }
  > .property-value {
    flex-basis: 1; flex-grow: 1; justify-content: space-between; align-items: center;
  }
}
