path {
    fill: #fff;
}
mat-toolbar {
  justify-content: space-between;
  vertical-align: middle;
  height: 56px;
  max-height: 56px;
  span {
    font-size: 18px;
    font-weight: 600;
  }
  span > * {
    vertical-align: middle;
  }
}

