button:focus {
    outline: none;
}
path {
    fill: #fff;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    background-color: rgba(128,128,255,.25);
    padding-top: 30px;
    padding-bottom: 50px;
    
    > h1, > p {
        text-align: center;
    }
    > p {
        width: 70%;
        padding-bottom: 10px;
    }
    > a {
        z-index: 1000;
    }
    path {
        fill: #000;
    }    
}

.background {
    z-index: 0; position: absolute;bottom: 0;left: 0;right: 0;
}
