<Page class="page">
    <Page.actionBar>
        <ActionBar [title]="'home.title' | translate" class="action-bar">
          <ActionItem *ngFor="let item of menuItems" (tap)="navigateTo(item)"
              ios.systemIcon="16" ios.position="right"
              [text]="item.title | translate" android.position="popup"></ActionItem>    
        </ActionBar>
    </Page.actionBar>
    <GridLayout rows="auto,auto" class="container">
        <Label class="p description" textWrap="true" row="1"
            [text]="'home.description' | translate"></Label>
    </GridLayout>
</Page>