<div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="center stretch">
    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center stretch">
        <div fxFlex.lt-md="100%" class="mat-elevation-z8">
            <wind-data-form [params]="settings | async" (onParamsChanged)="onSettingsChanged($event)"></wind-data-form>
        </div>
        <div fxFlex="100%" fxFlex.lt-md="100%" class="mat-elevation-z8">
            <wec-power-curve-chart #chart width="300" height="300"></wec-power-curve-chart>
        </div>
    </div>

    <div fxFlex="67%" fxFlex.lt-md="100%" class="mat-elevation-z8">
        <div style="z-index: 100; position:absolute; right: 20px; color: rgba(0,0,0,.57)" (click)="showFilter=!showFilter">
            <button mat-icon-button [ngClass]="{ 'mat-primary': showFilter}">
                <mat-icon>tune</mat-icon>
            </button>
        </div>
        <mat-tab-group *ngIf="(starredWecs | async) && (allWecs | async)" [selectedIndex]="selectedTabIndex">
          <mat-tab label="Starred">
            <ng-template mat-tab-label>
              <mat-icon>star</mat-icon><span class="mat-button mat-tab-button-text">Starred</span>
            </ng-template>
            <div *ngIf="starredWecs">
              <wec-list [items]="starredWecs" (onStar)="onWecStarred($event)" (onSelect)="onWecSelected($event)" (onHover)="onWecHover($event)" [cartMenu]="cartMenu"></wec-list>
            </div>
          </mat-tab>
          <mat-tab label="All WECs">
            <ng-template mat-tab-label>
              <mat-icon>list</mat-icon><span class="mat-button mat-tab-button-text">All Wecs</span>
            </ng-template>            
            <div *ngIf="allWecs">
              <wec-list [items]="allWecs" [filter]="getLastFilter()" [showFilter]="showFilter" (onFilterChanged)="onWecFilterChanged($event)" (onStar)="onWecStarred($event)" (onSelect)="onWecSelected($event)" (onHover)="onWecHover($event)" [cartMenu]="cartMenu"></wec-list>
            </div>
          </mat-tab>
        </mat-tab-group>  
        <mat-menu [overlapTrigger]="false" #cartMenu="matMenu">
          <ng-template let-element="element" matMenuContent>
              <button *ngFor="let layout of layouts" mat-menu-item (click)="onAddToLayout(layout, element)">
                  {{ layout.name }}
              </button>
              <button mat-menu-item (click)="onAddToLayout(null, element)">
                  New layout
              </button>              
          </ng-template>
        </mat-menu>              
    </div>
</div>
