<Page class="page">
    <Page.actionBar>
        <ActionBar [title]="'yawyer.title' | translate" class="action-bar">
            <NavigationButton text="Back" android.iconVisibility="always" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
        </ActionBar>
    </Page.actionBar>
    <StackLayout class="container">
        <wind-data-form (onParamsChange)="onParamsChange($event)"></wind-data-form>
    </StackLayout>
</Page>