<GridLayout rows="*,auto" class="container">
    <ScrollView>
        <StackLayout class="form">
            <Label horizontalAlignment="center" class="h2 header" text="Wind data"></Label>
            <GridLayout columns="*,*" rows="auto, auto">
                <Label class="p description" textWrap="true" row="0" col="0"
                    text="Wind speed"></Label>
                <TextField hint="Wind speed" keyboardType="number" [(ngModel)]="params.vmast_hh" row="1" col="0"></TextField>

                <Label class="p description" textWrap="true" row="0" col="1"
                    text="Met mast h.h."></Label>
                <TextField hint="Met mast h.h." keyboardType="number" [(ngModel)]="params.hmast_hh" row="1" col="1"></TextField>
            </GridLayout>

            <Label class="p description" textWrap="true" row="1"
                text="Extrapolation"></Label>
            <GridLayout columns="*,110" rows="auto, auto">
                <Label  verticalAlignment="center" class="h3" row="0" col="0" [text]="extrapolationModeLabel"></Label>
                <Button horizontalAlignment="right" row="0" col="1" text="Select" (tap)="selectExtrapolationMode()" class="btn btn-secondary btn-active"></Button>
            </GridLayout>

            <GridLayout columns="*,*" rows="auto, auto">
                <Label class="p description" textWrap="true" row="0" col="0"
                    text="Weibull-Shape Factor"></Label>
                <TextField type="number" keyboardType="number" [(ngModel)]="params.k" row="1" col="0"></TextField>

                <Label class="p description" textWrap="true" row="0" col="1"
                    text="Air density"></Label>
                <TextField type="number" keyboardType="number" [(ngModel)]="params.rho" row="1" col="1"></TextField>
            </GridLayout>

            <Label horizontalAlignment="center" class="h2 header" text="Operation parameters"></Label>                

            <GridLayout columns="*,*" rows="auto, auto">
                <Label class="p description" textWrap="true" row="0" col="0"
                    text="Estimated losses"></Label>
                <TextField type="number" keyboardType="number" [(ngModel)]="params.losses" row="1" col="0"></TextField>
                    
                <Label class="p description" textWrap="true" row="0" col="1"
                    text="Technical Availability"></Label>
                <TextField type="number" keyboardType="number" [(ngModel)]="params.availability" row="1" col="1"></TextField>
            </GridLayout>
        </StackLayout>
    </ScrollView>
    <Button row="2" text="Next" (tap)="calc()" class="btn btn-primary btn-active"></Button>
</GridLayout>