.font-awesome {
   font-family: "fontawesome-webfont";
   font-size: 24;
}

.radioBefore {
   font-family: "fontawesome-webfont";
   font-size: 24;
}

ScrollView {
    margin: 0;
}

Label.header {
   text-align: center;
   background-color: #e0e0e0;
   width: 100%;
}