<form [formGroup]="paramForm" class="form">
  <mat-grid-list [cols]="config.columns" rowHeight="50px" gutterSize="10">
    <mat-grid-tile
        colspan="1"
        rowspan="1">
      <mat-form-field class="full-width">
          <input matInput placeholder="Wind speed" type="number" step="any" formControlName="vmast_hh">
          <span matSuffix>&nbsp;m/s</span>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile
        colspan="1"
        rowspan="1">
      <mat-form-field class="full-width">
          <input matInput placeholder="Met mast h.h." type="number" step="any" formControlName="hmast_hh">
          <span matSuffix>&nbsp;m</span>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="config.hasHubHeight"
        colspan="1"
        rowspan="1">
      <mat-form-field class="full-width">
          <input matInput placeholder="Hub height" type="number" step="any" formControlName="height">
          <span matSuffix>&nbsp;m</span>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile
        colspan="1"
        rowspan="1">
      <mat-form-field class="full-width">
          <input matInput placeholder="Weibull Shape mast h." type="number" step="0.1" formControlName="k">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile  *ngIf="config.hasMaxPower"
        colspan="1"
        rowspan="1">
      <mat-form-field class="full-width">
          <input matInput placeholder="Max power" type="number" step="any" formControlName="max_power">
          <span matSuffix>&nbsp;kWh</span>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile
        colspan="1"
        rowspan="1">
      <mat-form-field class="full-width">
          <input matInput placeholder="Air density" type="number" step="0.01" formControlName="rho">
          <span matSuffix>&nbsp;kg/m<sup>3</sup></span>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile
        colspan="1"
        rowspan="1">
      <mat-form-field class="full-width">
          <input matInput placeholder="Estimated losses" type="number" step="any" formControlName="losses">
          <span matSuffix>&nbsp;%</span>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile
        colspan="1"
        rowspan="1">
      <mat-form-field class="full-width">
          <input matInput placeholder="Technical Availability" type="number" step="any" formControlName="availability">
          <span matSuffix>&nbsp;%</span>
      </mat-form-field>
    </mat-grid-tile>  
    <mat-grid-tile [colspan]="config.columns" rowspan="1">
      <mat-form-field class="full-width" hintLabel="{{ currentWEM.type == 0 ? 'Log law: z = ':'Power law: alpha = ' }}{{ currentWEM.value }}">
        <mat-select placeholder="Wind Extrapolation Mode" formControlName="wem" (selectionChange)="OnWEMChange($event)">
          <mat-optgroup *ngFor="let group of windExtrapolationModes" [label]="group.name">
            <mat-option *ngFor="let option of group.values" [value]="o2v(group.id, option.value)">
              {{ option.title }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</form>
