/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~nouislider/distribute/nouislider.min.css";

body {
    margin:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background-color: #f0f0f0;
}
.mat-elevation-z8 {
    background-color: #fff;
}
.container {
    margin: 0;
    padding: 10px;
}
mat-toolbar {
  justify-content: space-between;
  vertical-align: middle;
  height: 56px;
  max-height: 56px;
  span {
    font-size: 18px;
    font-weight: 600;
  }
}

mat-toolbar > span > * {
  vertical-align: middle;
}

h1 {
    font-family: 'Open Sans', sans-serif!important;
}