<div style="display: flex; flex-direction: column;  padding: 20px; width: 100%; text-align: justify; align-items: center">
    <div style="flex: 50%; width: 50%">
    <mat-card style="display: block; align-items: center">
        <svg mlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" style="width: 100%; enable-background:new 0 0 792 792" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" height="100" viewBox="0 0 792 792" width="100" version="1.1" y="0px" x="0px" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/"><path d="m674.46 134.4c-5.833-6.552-15.428-9.6-30.176-9.6-8.353 0-17.01 0.999-23.329 1.724-2.276 0.264-4.29 0.497-5.918 0.634-75.869 6.532-149.1 30.561-219.92 53.799l-18.633 6.101c-3.54 1.151-6.045 4.169-6.73 7.775-1.506-0.411-3.048-0.715-4.6-0.954 0.847-3.565-0.198-7.333-2.942-9.839l-18.632-17c-30-27.41-61.03-55.74-92.49-82.655-25.68-21.975-47.26-39.294-67.95-54.519-0.53-0.391-1.49-1.162-2.78-2.191-18.08-14.367-36.64-27.675-49.99-27.675-7.684 0-13.673 4.24-16.006 11.335-5.33 16.173 9.905 36.702 19.987 50.289 1.354 1.821 2.551 3.434 3.479 4.762 43.706 62.552 101.27 114.06 156.94 163.87l14.266 12.78c1.902 1.704 4.326 2.597 6.776 2.597 1.121 0 2.236-0.244 3.322-0.624 0.396 1.501 0.887 2.977 1.456 4.433-3.52 1.04-6.273 3.834-7.07 7.47l-5.31 24.15c-8.773 39.832-17.846 81.017-25.458 121.88-6.167 33.102-10.361 60.452-13.201 86.053-0.071 0.629-0.249 1.766-0.477 3.286-5.198 34.299-4.321 51.78 3.043 60.341 3.124 3.632 7.435 5.635 12.136 5.635 1.182 0 2.389-0.127 3.611-0.38 14.601-3.038 24.206-21.412 30.885-36.353l-14.793 252.52c-0.274 4.671 1.405 9.296 4.605 12.688 3.16 3.348 7.612 5.27 12.222 5.27h76.219c4.641 0 9.114-1.942 12.278-5.325 3.19-3.413 1.7442-23.518 1.4402-28.107l-24.939-452.7c-0.299-5.051 3.8869-1.2405-1.1581-1.6415-0.208-0.015-8.3493 56.696-8.5573 56.691 2.967-13.622 8.3441-55.067 11.174-68.572l3.966-18.871c0.771-3.656-0.598-7.349-3.403-9.742 0.542-0.538 1.11-1.05 1.623-1.618 0.537-0.594 1.009-1.223 1.506-1.841 1.902 1.8 4.372 2.825 6.938 2.825 1.024 0 2.06-0.157 3.068-0.477l22.244-7.049c39.324-12.445 79.992-25.312 119.64-39.324 30.667-10.812 57.211-21.143 81.179-31.595 0.599-0.264 1.729-0.705 3.246-1.298 34.02-13.384 48.331-23.035 51.039-34.446 1.231-5.22-0.128-10.382-3.825-14.515zm-301.58 84.653c4.138 3.748 6.578 8.87 6.862 14.429 0.284 5.553-1.623 10.888-5.376 15.037-3.94 4.377-9.58 6.887-15.468 6.887-5.178 0-10.153-1.917-14.002-5.396-8.53-7.729-9.2-20.94-1.476-29.476 3.94-4.376 9.58-6.882 15.468-6.882 5.178-0.005 10.143 1.912 13.992 5.401zm-63.865-3.266-0.715-0.639c-54.8-49.04-111.48-99.75-153.84-160.37-1.024-1.46-2.333-3.23-3.819-5.234-10.057-13.551-15.737-23.101-16.954-28.507 4.727 1.689 14.474 6.958 34.04 22.527 1.598 1.273 2.794 2.216 3.423 2.678 20.246 14.9 41.455 31.92 66.751 53.57 31.22 26.702 62.121 54.924 92.002 82.214l5.254 4.793c-5.913 2.937-11.264 6.973-15.772 11.979-4.559 5.026-8.049 10.787-10.371 16.995zm-6.223 291.6c-6.709 15.498-12.146 25.189-16.208 28.933-0.877-4.812-1.263-15.879 2.546-40.993 0.284-1.866 0.492-3.256 0.583-4.062 2.784-25.125 6.912-52.009 12.988-84.608 7.552-40.531 16.589-81.554 25.327-121.22l1.425-6.481c11.091 7.349 24.987 10.29 38.168 8.104l-0.238 1.136c-15.073 71.934-30.652 146.32-61.954 213.25-0.755 1.623-1.643 3.656-2.637 5.949zm90.562 264.33h-68.942l9.3968-273.49c13.378-30.576 33.827-107.6 42.205-137.9zm226.46-607.24c-1.871 0.735-3.261 1.288-3.966 1.597-23.476 10.245-49.574 20.393-79.785 31.048-39.329 13.906-79.835 26.722-119 39.116l-4.95 1.567c0.852-13.292-3.342-26.549-12.065-37.108l1.396-0.457c69.723-22.877 141.81-46.531 215.34-52.86 1.79-0.157 4.002-0.411 6.502-0.695 6.156-0.71 13.819-1.592 21.006-1.592 6.03 0 9.728 0.639 11.948 1.308-3.844 3.181-13.283 8.972-36.419 18.076z"/></svg>        
    <div style="text-align: center">
    <h1>
        {{ 'home.title' | translate }}
    </h1>
    <span>v 1.0</span>
    <h3>Author</h3>
    <p><a target="_blank" href="https://www.linkedin.com/in/gianpaoloterranova/">Gianpaolo Terranova</a></p>
    <h3>Acknowledgments</h3>
    <p>Paolo Jordaney and his Yet1.0 tool</p>
    </div>
    <h3>Disclaimer</h3>
    <p> THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
 IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT,
 INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
 HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
 STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
 IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 POSSIBILITY OF SUCH DAMAGE.</p>
</mat-card>
    </div>
</div>