<Page class="page">
    <Page.actionBar>
        <ActionBar [title]="'about.title' | translate" class="action-bar">
            <NavigationButton text="Back" android.iconVisibility="always" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
        </ActionBar>
    </Page.actionBar>
    <StackLayout class="container">
        <Label class="p description" textWrap="true" row="1"
            [text]="'about.description' | translate"></Label>
    </StackLayout>
</Page>