<div *ngIf="isLoading" class="mat-elevation-z8">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading && items" class="mat-elevation-z8">
  <div fxLayout="column" *ngIf="showFilter" class="filter-panel">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start stretch">
      <mat-form-field fxFill>
        <input matInput (keyup)="applyFilter()" placeholder="Filter" [(ngModel)]="filterParams.fullText">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start stretch">
      <mat-form-field>
        <input matInput (keyup)="applyFilter()" type="number" step="100" placeholder="Min rated power [kWh]" [(ngModel)]="filterParams.minRatedPower">
      </mat-form-field>
      <mat-form-field>
        <input matInput (keyup)="applyFilter()" type="number" step="100" placeholder="Max rated power [kWh]" [(ngModel)]="filterParams.maxRatedPower">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start stretch">
      <mat-form-field>
        <input matInput (keyup)="applyFilter()" type="number" step="10" placeholder="Min tip height [m]" [(ngModel)]="filterParams.minTipHeight">
      </mat-form-field>
      <mat-form-field>
        <input matInput (keyup)="applyFilter()" type="number" step="10" placeholder="Max tip height [m]" [(ngModel)]="filterParams.maxTipHeight">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start stretch">
      <mat-form-field>
        <input matInput (keyup)="applyFilter()" type="number" step="10" placeholder="Min rotor diameter [m]" [(ngModel)]="filterParams.minRotorDiameter">
      </mat-form-field>
      <mat-form-field>
        <input matInput (keyup)="applyFilter()" type="number" step="10" placeholder="Max rotor diameter [m]" [(ngModel)]="filterParams.maxRotorDiameter">
      </mat-form-field>
    </div>
  </div>
  <mat-table #table [dataSource]="data" matSort (matSortChange)="sortData($event)">
    <!-- Position Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef mat-header></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button *ngIf="element.favourite" mat-icon-button (click)="onStarClicked(element, $event)" style="color: #f2b01e">
          <mat-icon>star</mat-icon>
        </button>
        <button *ngIf="!element.favourite" mat-icon-button  (click)="onStarClicked(element, $event)" style="color: rgba(0, 0, 0, 0.27)">
          <mat-icon>star_border</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef mat-sort-header> WEC </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.manufacturer}} {{element.model}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="deratedPower">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Rated Power [kW] </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.deratedPower | number }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="hubHeight">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Hub Height [m] </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.hubHeight | number }} <button mat-icon-button color="accent" class="small" (click)="onAdjustV( element, 5, $event)"><mat-icon>add</mat-icon></button><button mat-icon-button  class="small" (click)="onAdjustV( element, -5, $event)"><mat-icon>remove</mat-icon></button></mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="velocityHubHeight">
      <mat-header-cell *matHeaderCellDef mat-sort-header> V<sub>hh</sub>&nbsp;[m/s]</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.velocityHubHeight | number:'1.2-2'}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="grossYield">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Gross Yield [MWh]</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.grossYield | number:'1.2-2'}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="netYield">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Net Yield [MWh]</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.netYield | number:'1.2-2'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="addToCart">
      <mat-header-cell *matHeaderCellDef mat-header></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="onCartClicked(element, $event)" style="color: rgba(0, 0, 0, 0.27)" [matMenuTriggerFor]="cartMenu" [matMenuTriggerData]="{element: element}">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="onSelectRow(row)" (mouseenter)="onHoverRow(row)">      
    </mat-row>


  </mat-table>
    <mat-paginator #paginator
              [pageSize]="length"
              [pageSizeOptions]="pageSizeOptions"
              [showFirstLastButtons]="true"></mat-paginator>
</div>
