$icon-small-container-size: 24px;
$icon-small-size: 16px;

.mat-icon-button.small {
  width: $icon-small-container-size;
  height: $icon-small-container-size;
  line-height: $icon-small-container-size;

  .mat-icon, .mat-icon-button i {
    line-height: $icon-small-size;
  }

  .mat-icon {
    width: $icon-small-size;
    height: $icon-small-size;
  }

  .material-icons {
    font-size: $icon-small-size;
  }
}
mat-spinner {
  margin: 0 40% 0;
}

.filter-panel {
  display: flex;
  flex-direction: column;
  padding: 8px 30px 0;
  background-color: #f0f0f0;
}


.mat-table {
  overflow: auto;
  max-height: 610px;
}

.mat-cell, .mat-header-cell {
  font-size: 12px;
}

mat-row.mat-row {
  cursor: pointer;
  &:hover {
    background-color: rgba(0,0,0,.10);
  }
}

mat-row.mat-row > mat-cell,
mat-header-cell.mat-header-cell {
  text-align: center;
}
mat-row.mat-row > mat-cell:nth-child(1),
mat-header-cell.mat-header-cell:nth-child(1),
mat-row.mat-row > mat-cell:last-child,
mat-header-cell.mat-header-cell:last-child {
  max-width: 50px;
}
mat-row.mat-row > mat-cell:nth-child(2),
mat-header-cell.mat-header-cell:nth-child(2) {
  min-width: 20%;
  text-align: left;
}

::ng-deep .mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
    opacity: 0;
}

::ng-deep .mat-sort-header-pointer-left.ng-trigger.ng-trigger-leftPointer{
    transform: rotate(-45deg);
}
::ng-deep .mat-sort-header-pointer-right.ng-trigger.ng-trigger-rightPointer{
    transform: rotate(45deg);
}
